{% extends "base.html" %}
{% block content %}
    <div class="relative z-10 bg-transparent">
        <div class="card w-fit">
            <h1>Hello, NSF6!</h1>
            <label>
                Update interval (ms):
                <input id="update-interval" type="range" min="100" max="5000" value="1000" step="100">
                <span id="update-interval-value">1000</span>
            </label>
            <label>
                Heatmap Type:
                <select id="heatmap-type">
                    <option value="heatmap" selected>Heatmap</option>
                    <option value="trafficmap">Traffic Map</option>
                    <option value="speedmap">Speed Map</option>
                </select>
            </label>
        </div>
        <div class="fixed bottom-2 left-1/2 -translate-x-1/2 w-fit card min-w-1/2 pb-2">
            <div id="time-slider"></div>
        </div>
    </div>
    <div id="map" class="map"> </div>
    <script src="/static/js/index.js" type="module"></script>
{% endblock %}