<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>NSF6</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
    <div id="app">
        <h1>Hello, NSF6!</h1>
        <img src="/static/assets/img/img.png" alt="Usenburger">
        <button>Click me</button>
    </div>
    <script src="/static/js/hello-world.js"></script>
</body>
</html>