{% extends "base.html" %}
{% block content %}
    <div class="relative z-10 bg-transparent w-fit">
        <div class="fixed bottom-0 lg:bottom-[unset] lg:top-4 lg:left-4 card w-full lg:w-fit lg:opacity-50 hover:opacity-100 transition-opacity max-w-[500px]">
            <h1>Not so Far</h1>
            <label class="flex flex-col">
                Интервал обновлений (мс):
                <div class="flex items-center gap-2">
                    <input id="update-interval" type="range" min="100" max="5000" value="1000" step="100">
                    <span id="update-interval-value">1000</span>
                </div>
            </label>
            <label>
                Тип карты:
                <select id="heatmap-type">
                    <option value="heatmap" selected>Карта спроса</option>
                    <option value="trafficmap">Карта трафика</option>
                    <option value="speedmap">Карта скорости</option>
                    <option value="anomalies">Аномалии</option>
                </select>
            </label>
            <label><input type="checkbox" id="color-blind" /> Я дальтоник</label>
            <a href="/paint" class="text-primary-800 block mt-2 underline">Порисовать маршруты</a>
        </div>
        <div class="max-lg:bg-transparent max-lg:shadow-none fixed lg:top-[unset] lg:bottom-2 lg:left-1/2 lg:-translate-x-1/2 card w-full lg:w-1/2 pb-2 lg:opacity-50 hover:opacity-100 transition-opacity">
            <div id="time-slider"></div>
        </div>
    </div>
    <div id="map" class="map"> </div>
    <script src="/static/js/index.js" type="module"></script>
{% endblock %}